<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1035096631920-mjrae94e0br5pe5cvn9j5tob4nprcuan.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035096631920-mjrae94e0br5pe5cvn9j5tob4nprcuan</string>
	<key>API_KEY</key>
	<string>AIzaSyAxG3hd00B-oMualzKeveHzdHBNOquqiHc</string>
	<key>GCM_SENDER_ID</key>
	<string>1035096631920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reascon.Medssenger</string>
	<key>PROJECT_ID</key>
	<string>medssenger-6854c</string>
	<key>STORAGE_BUCKET</key>
	<string>medssenger-6854c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035096631920:ios:84087c60069acfb1</string>
	<key>DATABASE_URL</key>
	<string>https://medssenger-6854c.firebaseio.com</string>
</dict>
</plist>